<ion-view view-title="Beállítások">
    <ion-content>
    	<div class="list">
    		<div class="item item-divider">
			    Általános
			</div>
    		<div class="item item-toggle">
    			Rezgés gombnyomásnál
			    <label class="toggle toggle-balanced">
			       	<input type="checkbox" ng-model="view.vibration" ng-disabled="socketStatus != 'connected'">
			       	<div class="track">
			         	<div class="handle"></div>
			       	</div>
			    </label>
    		</div>
    		<div class="item item-divider">
			    Csapatok
			</div>
    		<label class="item item-input" ng-repeat="i in [1,2,3,4,5,6]">
			    <span class="input-label">{{i}}. csapat neve</span>
			    <input type="text" class="text-right" placeholder="{{i}}. csapat" ng-model="teams[i-1]" ng-disabled="socketStatus != 'connected'">
			</label>
    	</div>
    	<div class="padding">
	    	<button class="button button-block button-orange" ng-click="save()" ng-disabled="socketStatus != 'connected'">
			  	Mentés
			</button>
		</div>
    </ion-content>
</ion-view>